snippet ojt
	#include <bits/stdc++.h>
	using namespace std;

	#if defined(DEBUG) && !defined(ONLINE_JUDGE)
	  #include <oi_debug/debug.hpp>
	#endif // DEBUG
	
	const int MAXN = 10005;

	int main() {
		ios::sync_with_stdio(false);
		cin.tie(nullptr);

		${0}
	}

snippet ll
	long long ${0}
